.container {
  width: min(90%, 40rem); 
  margin-inline: auto;
  padding: 1rem;
  border: 5px solid #ffabf3;
  margin-top: 5rem;
  background-color: #404f74;
  color: #EAEAEA;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}