<div class="container">
    <div *ngIf="quizzes.length">
        <div *ngIf="currentQuizz as quizz">
            <h2>{{ quizz.question }}</h2>

            <mat-radio-group [(ngModel)]="selectedValue" *ngIf="!quizz.selectMultiple" (change)="onSelectionChange()">
                <mat-radio-button *ngFor="let choice of quizz.choices" [value]="choice.id" class="choice-radio">
                    <span class="choice">{{ choice.text }}</span> </mat-radio-button>
            </mat-radio-group>

            <div *ngIf="quizz.selectMultiple">
                <mat-checkbox *ngFor="let choice of quizz.choices" [value]="choice.id"
                    [checked]="selectedValues.includes(choice.id)" (change)="onCheckboxChange($event, choice.id)"> {{ choice.text }}
                </mat-checkbox>
            </div>

            <div class="feedback-space">
                <div *ngIf="answerChecked">
                    <p [ngClass]="{ 'correct': isLastAnswerCorrect, 'wrong': !isLastAnswerCorrect}">
                        {{ isLastAnswerCorrect ? '✅ Correct!' : '❌ Wrong, Try again!' }}
                    </p>
                </div>
            </div>

            <div class="action-space">
                <button *ngIf="!isLastAnswerCorrect" (click)="submitAnswer()"
                    matButton="outlined" class="submit-btn"><mat-icon>input</mat-icon>Submit</button>

                <button matButton="outlined" *ngIf="isLastAnswerCorrect" (click)="goNext()"><mat-icon>directions_run</mat-icon>Go Next</button>
            </div>
        </div>
    </div>
</div>